In [2]:
import pandas as pd
import numpy as np

In [24]:
train_data_path = "./challengeB_data/2022challengeB_train.csv"
test_data_path = "./challengeB_data/2022challengeB_test.csv"

train_df = pd.read_csv(train_data_path, index_col=[0])
train_df = train_df.drop(["country"], axis=1)
train_df = train_df.sample(frac=1).reset_index(drop=True)
train_df.head()

,crop_item,year,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp,YIELD
0,Potatoes,2000,1738.0,5175.00,17.02,115040
1,Sweet potatoes,2006,3142.0,105.00,25.04,50000
2,Yams,2008,1761.0,312637.00,20.22,93753
3,"Rice, paddy",2008,593.0,37640.20,11.33,75716
4,Potatoes,2002,565.0,17486.64,8.87,104374

In [25]:
train_df_onehot = pd.get_dummies(train_df, columns=["crop_item"], prefix=["Crop_Item"])
train_features = train_df_onehot.loc[:, train_df_onehot.columns != "YIELD"]
target = np.array(train_df_onehot["YIELD"]).reshape(-1, 1)

In [27]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegressor
from sklearn.model_selection import KFold, cross_val_score

In [36]:
scaler = MinMaxScaler()
target_scaler = MinMaxScaler()

scaled_train_features = scaler.fit_transform(train_features)
scaled_target = target_scaler.fit_transform(target)

In [40]:
def simplify_score(score, target_scaler_):
    score = -score.mean().reshape(-1, 1)
    score = target_scaler_.inverse_transform(score)
    score = round(score.reshape(-1)[0])
    
    return score

In [42]:
def train_model(estimator, model_name, X, y):
    NUM_SPLITS = 10
    kfold = KFold(n_splits=NUM_SPLITS)
    
    score = cross_val_score(estimator, X, y, cv=kfold, scoring="neg_mean_squared_error", n_jobs=-1, verbose=1)
    
    score = simplify_score(score)
    
    print(f"RMSE of {estimator.__class__.__name__}({model_name}) after {NUM_SPLITS}-kfold cross_validation: {score}")

In [ ]:
models = {}
models["rf42"] = RandomForestRegressor()
models["rf44"] = RandomForestRegressor()
models["rf46"] = RandomForestRegressor()
models["lr"] = LinearRegressor()
train_model()

In [38]:
X = scaled_train_features
y = scaled_target
kfold = KFold(n_splits=10)
rf = RandomForestRegressor(random_state=44)

score = cross_val_score(rf, X, y, cv=kfold, scoring="neg_mean_squared_error", n_jobs=-1, verbose=1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   6 out of  10 | elapsed:   10.6s remaining:    7.1s
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:   17.4s finished

In [39]:
score = simplify_score(score, target_scaler)

print(score)

[[255.3734608]]

In [ ]:
rf = RandomForestRegressor